replicaCount: 1

nameOverride: ""
fullnameOverride: ""

image:
  repository: ghcr.io/rollersweet/portfolio
  tag: "v1"
  pullPolicy: Always

imagePullSecrets: []

serviceAccount:
  create: true
  annotations: {}
  name: ""
  automount: true

podAnnotations: {}
podLabels: {}

podSecurityContext: {}
securityContext: {}

service:
  type: ClusterIP
  port: 80

containerPort: 3000

livenessProbe:
  httpGet:
    path: /healthz
    port: http
  initialDelaySeconds: 5
  periodSeconds: 10

persistence:
  enabled: true
  existingClaim: ""
  size: 1Gi
  accessModes:
    - ReadWriteOnce
  storageClass: ""
  mountPath: /app/media

volumeMounts: []
volumes: []

ingress:
  enabled: true
  className: nginx
  hosts:
    - host: portfolio.tamirmadar.com
      paths:
        - path: /
          pathType: Prefix
  tls: []

resources:
  requests:
    cpu: "150m"
    memory: "256Mi"
  limits:
    cpu: "500m"
    memory: "1024Mi"

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 3
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: null

httpRoute:
  enabled: false
  annotations: {}
  parentRefs: []
  hostnames: []
  rules: []

nodeSelector: {}
tolerations: []
affinity: {}
